*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
  }

.cabecera {
  display:flex;
  background-color: #279989;
  color:white;  
  justify-content: space-between;
  padding: 0 20px;
}

.linea-vertical{
  border-right: 1px #ff00;
}

.articulo div{
  background-color: green;
}
.total-compra{
  display: flex;
  justify-content: flex-end;
  background-color: #ffc845;
}
.menu-cabecera{
  display:flex;
}

.menu-cabecera a{
  margin-left: 20px;
}

.segundacabecera{
  display:flex;
  justify-content: space-between;
  background-color: #5FA789;
  color: white;
}

.articulo {
  background-color: #ffc845;
} 

.lista {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffc845;
  margin: 0;
  padding: 0;
} 

.lista div{
  display: flex;
  
}

ul{
  list-style-type: none;
}
.articulo > section[boton-anadir]{
  background-color: green;
}

.boton-menos{

}

.boton-mas{

}
